@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import 'react-datepicker/dist/react-datepicker.css';

@layer base {
}
html {
  background: #fff;
  color: #000;
}

@font-face {
  font-family: 'Wylie Voigen';
  src: url('../font//SVN-Wylie\ Voigen.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.hover-gradient {
  background: linear-gradient(108deg, #3a449b -22.88%, #ef5f5f 108.34%);
  background-clip: text; /* Chỉ sử dụng nếu bạn muốn gradient cho chữ */
  -webkit-background-clip: text; /* Chỉ sử dụng nếu bạn muốn gradient cho chữ */
  -webkit-text-fill-color: transparent;
}

@layer components {
  .text-gradient-hover {
    background: linear-gradient(108deg, #3a449b -22.88%, #ef5f5f 108.34%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.container {
  @apply mx-auto w-full max-w-[1312px] px-5;
}

.font-varela {
  font-family: 'Varela Round', sans-serif;
}

.bg-gradient {
  background: linear-gradient(90deg, #3a449b -22.88%, #ef5f5f 130.34%);
}

.swiper-pagination-bullet {
  width: 6px !important;
  height: 6px !important;
  background-color: #fff !important;
  opacity: 0.3 !important;
  border-radius: 50% !important;
  transition: opacity 0.3s ease !important;
}
.swiper-pagination-bullet-active {
  opacity: 1 !important;
  background-color: #fff !important;
  width: 8px !important; /* Increase size for active dot */
  height: 8px !important; /* Increase size for active dot */
  border-radius: 50% !important;
}

/* Target only the Swiper instance inside the custom-swiper class */
.custom-swiper .swiper-pagination-bullet {
  width: 6px !important;
  height: 6px !important;
  background-color: #ef5f5f !important;
  opacity: 0.3 !important;
  border-radius: 50% !important;
  transition: opacity 0.3s ease !important;
}

.custom-swiper .swiper-pagination-bullet-active {
  opacity: 1 !important;
  background-color: #ef5f5f !important;
  width: 8px !important;
  height: 8px !important;
  border-radius: 50% !important;
}

.abs-center {
  @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
}

.shadow-opacity {
  background: linear-gradient(0deg, #ffffff 0%, rgba(245, 245, 245, 0) 100%);
}

.bg-contact {
  background: linear-gradient(-81deg, #3a449b -22.88%, #ef5f5f 108.34%);
}

.sidebar-scroll::-webkit-scrollbar {
  width: 8px;
}

.sidebar-scroll::-webkit-scrollbar-thumb {
  background-color: #3a449b;
  border-radius: 4px;
}

.sidebar-scroll::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.date-picker {
  width: 100%;
  border: 1px solid #cccccc;
  border-radius: 12px;
  padding: 10px;
  font-size: 16px;
}

.date-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-button {
  background: none;
  border: none;
  cursor: pointer;
}

.dropdown-btn {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  border-radius: 12px;
  background: white;
  border: 1px solid #cccccc;
}

.dropdown-icon {
  margin-left: 10px;
}

.dropdown-menu {
  position: absolute;
  z-index: 10;
  margin-top: 2px;
  width: 100%;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dropdown-item:hover {
  background-color: #3a449b;
  color: white;
}

.react-datepicker__month-container {
  width: 300px !important;
  border-radius: 20px !important;
}

.react-datepicker__header {
  padding: 14px 0 !important;
  background: #3a449b !important;
  color: #ffffff !important;
}

.date-header {
  height: 40px !important;
  font-size: 16px !important;
  padding: 0px 12px !important;
  border-radius: 20px !important;
}
.react-datepicker__day-names {
  color: #ffffff !important;
}

.react-datepicker__day-name {
  color: #fff !important;
  display: inline-block;
  width: 2rem !important;
  line-height: 2rem;
  text-align: center;
  margin: 0.166rem;
}

.react-datepicker {
  border-radius: 20px !important;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  color: #000;
  display: inline-block;
  width: 2rem !important;
  line-height: 1.7rem;
  text-align: center;
  margin: 0.166rem;
}

.header-button {
  font-size: 20px !important;
  width: 40px;
  height: 40px;
}

.react-datepicker__current-month {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  color: #fff !important;
}

.shadow-quality {
  box-shadow: 2px 2px 12px 0px #e3e3e366;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 24px !important;
  color: #000 !important;
}

.z-banner {
  z-index: 1 !important;
}
.react-datepicker__time-list-item.react-datepicker__time-list-item--disabled {
  display: none;
}
